.ticket-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: 60px;
  }
  
  /* ticket summary */
  .ticket-summary {
    padding: 30px;
    gap: .2em;
    display: flex;
    flex-direction: column;
  }
  .ticket-summary .date {
    margin: 10px 0;
    font-size: 0.9em;
    color: var(--title-color);
  }
  .ticket-summary .details {
    margin: 30px 0;
    color: var(--text-color);
    line-height: 1.8em;
    font-size: 0.9em;
  }
  .ticket-summary h3 {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .ticket-summary .assigned-users {
    display: flex;
    margin-top: 20px;
    gap: .5em;
  }
  .ticket-summary .assigned-users .avatar {
    margin-right: 10px;
  }

  .assigned-user{
    display: flex;
    gap: .2em;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60px;
    align-items: center;
  }
  .resolve-date{
    margin-top: 2em;
  }

  .ticket-summary > .btn {
    margin-top: 20px;
    align-self: flex-start;
  }

  /* ticket comments */

.ticket-comments label {
    margin-bottom: 0px;
  }
  .ticket-comments textarea {
    min-height: 40px;
    font-size: 1.5em;
  }

  /* comment list */
.ticket-comments h4 {
  color: var(--heading-color);
}

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-comment > label{
  width: 100%;
}

.add-comment > button{
  align-self: flex-start;

}

.ticket-comments ul{
  list-style-type: none;
}
.ticket-comments li {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 16px;
  margin-top: 20px;
}

.comment-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.comment-date {
  color: var(--text-color);
  font-size: 0.9em;
  margin: 4px 0 10px;
}
.comment-content {
  font-size: 0.9em;
}

@media(max-width: 1070px){
  .ticket-details {
    grid-template-columns: 1fr;
  }
}